<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raxcl.blog.dao.mapper.ArticleMapper">

    <select id="listArchives" resultType="com.raxcl.blog.dao.dto.Archives">
        select from_unixtime(create_date/1000,'%Y') year, from_unixtime(create_date/1000,'%m') month, count(*) count
        from article
        group by year, month
    </select>
    <select id="listArchive" resultType="com.raxcl.blog.dao.pojo.Article">
        select * from article
        <where>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="year != null and year.length>0 and month !=null and month.length>0">
                and (from_unixtime(create_date/1000,'%Y') = #{year} and from_unixtime(create_date/1000,'%m') = #{month} )
            </if>
            <if test="tagId != null">
                and id in (select article_id from article_tag where tag_id=#{tagId})
            </if>
        </where>
        order by create_date desc
    </select>
</mapper>